comfyui-frontend-package==1.53.6
comfyui-workflow-templates==0.11.66
comfyui-embedded-docs==0.5.12
torchsde==0.2.6
numpy==2.4.6
einops==0.8.2
transformers==5.17.0
tokenizers==0.23.2
sentencepiece==0.2.2
safetensors==0.8.0
aiohttp==3.14.3
yarl==1.25.1
PyYAML==6.0.3
Pillow==12.2.0
scipy==1.17.1
tqdm==4.67.3
psutil==7.2.2
alembic==1.20.0
SQLAlchemy==2.0.54
filelock==3.29.0
av==18.1.0
comfy-kitchen==0.2.35
comfy-aimdo==0.5.5
requests==2.34.2
simpleeval==1.0.8
blake3==1.0.9
kornia==0.8.3
spandrel==0.4.2
pydantic==2.13.5
pydantic-settings==2.15.0
PyOpenGL==3.1.10
comfy-angle==0.1.1
modelscope==1.40.1
